@using Microsoft.Extensions.Options;
@using Microsoft.Extensions.Configuration;
@using Recipes.Web.Infrastructure;
@using Recipes.Web.ViewModels.Home;
@inject IOptions<GoogleCaptchaConfig> GoogleCaptchaConfig

@model ContactInputModel

@{
    this.ViewData["Title"] = "За Контакт";
}

<h1 class="text-center">@this.ViewData["Title"]</h1>
<form method="post" class="col-md-6 col-10 mx-auto" id="contact-form" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" id="contactInputModelToken" asp-for="Token" />
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Content" class="form-label"></label>
        <textarea asp-for="Content" class="form-control" rows="4"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <input type="submit" value="Изпрати" class="btn btn-primary" />
    </div>
</form>

<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<script src="https://www.google.com/recaptcha/api.js?render=@GoogleCaptchaConfig.Value.SiteKey"></script>
<script>
    function getToken() {
        grecaptcha.ready(function () {
            grecaptcha.execute('@GoogleCaptchaConfig.Value.SiteKey', { action: 'submit' }).then(function (token) {
                //console.log(token);
                document.getElementById("contactInputModelToken").value = token;
            });
        });
    }

    setInterval(getToken, 86400);

    $(function () {
        getToken();
    });
</script>