@using Recipes.Common
@using Recipes.Web.ViewModels.Home;
@model IndexStatsViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<ul class="stats">
    <li>Рецепти: @Model.RecipesCount</li>
    <li>Съставки: @Model.IngredientsCount</li>
    <li>Категории: @Model.CategoriesCount</li>
</ul>
