@using Recipes.Common;
@{
    this.ViewData["Title"] = "Правила и условия за ползване";
}
<h1>@this.ViewData["Title"]</h1>

<h2>Общи правила.</h2>

<p class="text-justify">
    С използването на сайта посетителите се съгласяват с правилата и условията за ползване.
    Екипът ни запазва правото да премахва или променя, без предупреждение публикувани материали, при известия от трети лица, че тя не отговаря на правилата и условията на сайта или на приложимото законодателство, както ако и по преценка на Екипа застрашават сигурността на сървъра, сайта или останалите посетители.
    Администраторите на сайта следят за спазването на правилата и условията и по собствена преценка могат да изтриват или променят мнения, коментари, рецепти, снимки и всякакви други добавени в сайта материали.
    В случай на действия нарушаващи действащото законодателство, информацията ще бъде предавана на съответните органи.
    Тези правила подлежат на актуализация без предупреждение. Отговорност на посетителите е да следят за промени в правилата.
</p>

<h2>Публикуване на материали</h2>

<p class="text-justify">
    Публикуването на материали е достъпно само за регистрирани потребители.
    Използването на кирилица е задължително.
    Не се допуска публикуването на материали с обидно, расистско, пропагандно, рекламно и други типове неподходящо за кулинарен сайт съдържание.
    Добавените материали, мнения, коментари трябва да са подходящи за темата/секцията, към която са добавени.
    Спазването на добрия тон е задължително. Забранени са обидни думи и квалификации, псувни и ругатни.
    Публикуване на материали с авторски права е забранено.
</p>

<h2>Снимки</h2>
<ol>
    <li>
        <p class="text-justify">
            Снимки, които не отговарят на едно или повече от следните условия ще бъдат изтривани:
            <ul>
                <li><p class="text-justify">Файлът трябва да е в един от следните формати: JPEG, PNG, GIF, JPEG.</p></li>
                <li><p class="text-justify">Максималния допустим размер на файла е 4MB.</p></li>
                <li><p class="text-justify">Съдържанието на снимката да отговаря на рецептата към която е добавена.</p></li>
                <li><p class="text-justify">Съдържанието на снимката не трябва да е с обиден, порнографски или по друг начин неподходящ за сайта характер.</p></li>
                <li><p class="text-justify">Качеството трябва да е такова, че лесно да може да се различи какво показва снимката.</p></li>
                <li><p class="text-justify">Съдържанието на снимката не трябва да е с обиден, порнографски или по друг начин неподходящ за сайта характер.</p></li>
                <li><p class="text-justify">Добавените снимки трябва да показват стойностно съдържание, което би предизвикало интерес в голяма част от посетителите на сайта.</p></li>
                <li><p class="text-justify">Снимките не трябва да са със запазени авторски права, които не са притежание на потребителя, който ги добавя.</p></li>
            </ul>
        </p>
    </li>
    <li>
        <p class="text-justify">
            Сайта не държи правата за публикуваните снимки. Не може да ги продава или предоставя на трети лица от името на собствениците.

        </p>
    </li>
    <li><p class="text-justify">Непосредствено след добавяне, снимките са публично достъпни, ако потребителят, който ги добавя, е предварително одобрен от Администратор. В противен случай, всяка снимка изчаква ръчно одобрение от Администратор преди да бъде публично достъпна.</p></li>
    <li><p class="text-justify">Добавените в сайта снимки, независимо от оригиналния си размер, се променят като при това параметрите за размера на оригиналните снимки се променят.</p></li>
</ol>
<h2>Рецепти</h2>
<ol>
    <li>
        <p class="text-justify">
            Всяка нова рецепта трябва да е уникална и ясно различима от вече съществуващите, в противен случай ще бъде изтрита. Аналогични са рецепти, които или:
            <ul>
                <li><p class="text-justify">са съвсем еднакви</p></li>
                <li><p class="text-justify">различават се по взаимозаменяеми продукти</p></li>
                <li><p class="text-justify">различават се несъществено по количествата продукти или пропорциите на продуктите</p></li>
                <li><p class="text-justify">имат незначителни разлики в подправките</p></li>
                <li><p class="text-justify">имат малки разлики в самото приготвяне, които не променят съществено крайният резултат</p></li>
            </ul>
        </p>
    </li>
    <li><p class="text-justify">Всяка рецепта трябва да бъде смислена, съдържателна и интересна, в противен случай ще бъде изтрита.</p></li>
    <li><p class="text-justify">Рецептите трябва да са написани на кирилица, съгласно правописните и граматически правила в българския език и да отговарят на условията за оформление. Рецепта, която не отговаря тези условия няма да бъде отодбрена от администратора и съответно няма да бъде видима на сайта.</p></li>
    <li><p class="text-justify">От автора на рецептата се очаква да може да отговаря на въпроси към нея и да има представа какъв трябва да е резултатът от приготвянето й.</p></li>
    <li><p class="text-justify">По усмотрение на Администратор рецептите могат да бъдат премествани в по-подходящи категории, информацията към рецепта също може да бъдат променяна, както и заглавието.</p></li>
    <li><p class="text-justify">Всяка рецепта се преглежда от Администратор преди да бъде видима на сайта и ако е необходимо се редактира - промените в рецептите са с цел подобряване на четимостта - оформление, правопис, стилови промени.</p></li>
    <li><p class="text-justify">С добавянето в сайта авторите на рецептите се съгласяват да предоставят тези рецепти за свободно ползване във всички части на сайта.</p></li>
</ol>
<h2>Регистрация и регистрирани потребители</h2>
<ol>
    <li><p class="text-justify">Регистрацията в е отворена за всички и е безплатна.</p></li>
    <li><p class="text-justify">Всеки има право на един регистриран акаунт. При наличие на повече от един акаунт регистрирани за един и същи потребител, всички акаунти свързани с тези потребителски данни ще бъдат блокирани.</p></li>
    <li>
        <p class="text-justify">
            Необходимо за регистрация е:
            <ul>
                <li><p class="text-justify">Попълване на регистрационна формичка, според изискванията записани в нея.</p></li>
                <li><p class="text-justify">Съгласие с правилата и условията на сайта.</p></li>
            </ul>
        </p>
    </li>
</ol>
<h2>Ограничаване на отговорност</h2>
<ol>
    <li><p class="text-justify">Екипът ни не носи отговорност при липса на достъп, загуба или промяна на съдържание, неточност, непълнота или неяснота на съдържание, материали и информация на сайта.</p></li>
    <li><p class="text-justify">Екипът ни не се ангажира задължително да проверява публикуваната информация и не носи отговорност за материалите публикувани в сайта от посетителите.</p></li>
</ol>
<h2>Бисквитки</h2>
<p class="text-justify">
    Както повечето уеб сайтове, които извършват продажби на дребно, ние използваме "бисквитки" ("cookies"), които представляват парчета данни изпращани към вашия браузър, които позволяват на нашия уеб сайт да ви идентифицира, когато осъществявате достъп до него. Макар да се изразява известна загриженост за възможни усложнения по отношение на личната информация чрез "бисквитки", за вас е важно да разберете, че " бисквитки" не могат да извличат никаква информация за вас, която вие не сте вече разкрили доброволно. Ако желаете, "help" частта от лентата с инструменти на повечето браузъри ще ви даде информация как да предотвратявате приемането на нови „бисквитки” от вашия браузър, как браузърът да ви информира, когато получавате нова "бисквитки", или как напълно да деактивирате "бисквитки".

    Ако имате някакви въпроси относно който и да е от елементите на нашата уеб политика за опазване на личните данни, моля пишете ни чрез формата за контакт.
</p>
