@using RecipesApp.Core.Models
@model SearchIndexViewModel

@{
    ViewData["Title"] = "Търсене на рецепти по съставка";
}

<h1 class="page-title">@ViewData["Title"]</h1>

<form class="seach-recipesByIngredientForm" asp-action="List" method="get">
    <section class="flex-container-search">
        @foreach (var ingredient in Model.Ingredients)
        {
            <article class="flex-container-search-item">
                <input id="ingredient-@ingredient.Id" type="checkbox" name="Ingredients" value="@ingredient.Id" />
                <label for="ingredient-@ingredient.Id">@ingredient.Name</label>
            </article>
        }

    </section>
    <button class="searchByIngredient-btn" type="submit">Търси</button>
</form>