@using RecipesApp.Core.Models
@model RecipesListViewModel

@{
    ViewData["Title"] = "Намерени " + Model.Recipes.Count();
}

<h1 class="page-title">@ViewData["Title"] @(Model.Recipes.Count() > 1 ? "рецепти" : "рецепта") съдържащи търсената съставка/и</h1>

<partial name="_RecipesPartial" model="@Model" />

<partial name="_PagingPartial" model="@Model" />