.recipe-item {
    margin: 0px 0px 15px 0px;
}

#allRecipesTitle {
    text-align: center;
    margin-bottom: 20px;
}

#recipes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    width: 100%;
}

#recipe-container-img img {
    width: 100vw;
    height: 250px;
}

#recipe-container {
    margin: 10px auto;
    width: 32%;
}

#recipe-container-name {
    border-left: 8px solid #FFCD00;
    height: 65px;
    padding: 5px 0 0 10px;
    font-size: 1.1em;
    margin-top: 10px;
}