@media all and (max-width: 1000px) {
    .recipes-container {
        justify-content: center;
    }

    .single-recipe-container {
        width: 40%;
    }

    .flex-recipe-container {
        flex-direction: column;
    }

    .recipe-img {
        max-width: 500px;
        margin-top: 40px;
    }

    .topnav .navbar-link, .topnav div {
        display: none;
    }

    #collapseMenu {
        display: inline-block;
        margin-left: 20px;
        position: relative;
    }

        #collapseMenu .custom-dropdown-content {
            width: 417px;
            background-color: #292637 !important;
            margin-top: 0px;
            color: white;
            max-height: 500px;
            overflow-x: hidden;
            overflow-y: scroll;
        }

            #collapseMenu .custom-dropdown-content a:hover {
                color: #EB6523 !important;
                text-decoration: underline;
                background-color: black;
            }

        #collapseMenu #search-form {
            position: relative;
            height: 40px;
            background-color: inherit;
        }

            #collapseMenu #search-form input {
                left: 0;
                border-radius: 0px;
                font-size: 0.8em;
                background-color: #292637;
                color: white;
                padding-right: 25px;
                padding-left: 5px;
                border-bottom: none;
            }

    ::placeholder {
        color: white;
    }

    #collapseMenu #search-form button {
        right: 0px;
        border-radius: 0px;
        padding: 5px;
    }

    .instructions-and-ingredients-container {
        flex-direction: column;
        align-items: center;
    }

}

@media all and (max-width: 600px) {
    .recipes-container {
        flex-direction: column;
    }

    .single-recipe-container {
        width: 80%;
    }

    .single-recipe-container-img img {
        height: 150px;
        width: 80vw;
    }

    p, h1 {
        word-break: break-all;
    }

    .recipe-img {
        max-width: 400px;
    }

        .recipe-img img {
            height: 200px;
            margin-top: 80px;
        }

    .instructions-and-ingredients-container {
        flex-direction: column;
        align-content: center;
    }

    #recipe-user-info {
        text-align: center;
    }

    html {
        font-size: 14px;
    }
}
