.recipe-container {
    margin: auto;
    color: white;
    background-color: #FF6600;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.recipe-img {
    max-width: 600px;
}

.recipe-img img {
    height: 400px;
    align-content: stretch;
    border-bottom-left-radius: 5px;
}


.flex-recipe-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.recipe-info ul li {
    font-size: 1.5em;
    list-style-type: none;
    align-items: flex-start;
    margin-bottom: 1.5em;
    padding: 5px 0 15px 0;
    border-bottom: 3px solid #D9D9DB;
    word-break: break-all;
}

.recipe-info ul li i {
    font-size: 1.1em;
    padding-right: 5px;
    padding-left: 7px;
}

.recipe-title p {
    font-size: 2.3em;
    margin: auto;
    padding-top: 15px;
}

.recipe-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.recipe-title {
    height: 80px;
    text-align: center; 
}

.instructions-and-ingredients-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    font-size: 1.4em;
    margin-top: 20px;
    padding-top: 40px;
    background-color: #E7E9ED;
    border-radius: 5px;
}

.instructions-container {
    max-width: 600px;
    text-align: center;
}

.ingredients-container ol li {
    padding: 7px 0 7px 0;
}

#editLink {
    background-color: #E6580C;
    color: white;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    font-size: 1.3em;
}

#deleteForm button {
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    font-size: 1.3em;
    border: none;
}

#deleteCommentBtn button {
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    font-size: 1.1em;
    border: none;
    float: right;
}

#section-votes {
    margin-top: 35px;
}

#section-votes ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#section-votes ul li {
    list-style-type: none;
    font-size: 1.7em; 
}

#section-votes ul li i {
    color: orange;
    margin-right: 5px;
}

#votes-msg {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

.linksAboveHeader {
    border-bottom: 1px solid #8e8e8e;
    font-size: 1.1em;
    padding-bottom: 10px;
    margin-bottom: 13px;
    padding-top: 10px;
}

.linksAboveHeader a {
    text-decoration: none;
    color: #8e8e8e;
}

#recipe-user-info {
    margin: auto;
    text-align: end;
    font-size: 1.3em;
    font-weight: bold;
}

#recipe-user-info a {
    text-decoration: none;
    color: #EB6523;
}

#recipe-user-info a:hover {
    text-decoration: underline;
}

#recipe-user-info ul li {
    list-style-type: none;
    display: inline-block;
    margin: 20px 30px 10px 0;
}

#commentForm {
    max-width: 700px;
    margin: auto;
    font-size: 1.5em;
}

#submitComment {
    margin-left: 65%;
    margin-top: 20px;
    font-size: 1em;
    border-radius: 25px;
    background-color: #2D2D2D;
    color: white;
    padding: 5px 30px 5px 30px;
}

#addCommentLink {
    background-color: #E6580C;
    color: white;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    font-size: 1.3em;
}

#button-links li {
    list-style-type: none;
    margin: 10px;
}

#button-links ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.comments-section {
    width: 600px;
    margin: auto;
}

.comments-section-current {
    border-bottom: 1px solid #e3e3e3;
    margin-top: 35px;
}

.comments-section-current-user {
    text-align: start;
    color: #606060;
    margin-bottom: 5px;
    font-size: 1.1em;
}

.comments-section-current-content p {
    width: 100%;
    color: black;
    font-size: 1.3em;
    font-weight: 600;
    padding-left: 10px;
    margin-bottom: 5px;
    word-break: break-all;
}

.comments-section-current-date {
    padding-bottom: 10px;
    color: #606060;
    font-size: 1.1em;
}

#singleCategory .recipe-info {
    font-size: 1.2em;
    font-weight: bold;
    margin: auto;
}

.heart i {
    font-size: 3em;
}

.instructions-and-ingredients-container p:hover, .instructions-and-ingredients-container li:hover {
    color: #EB6523;
    font-weight: bold;
}
