.recipe-container {
    margin: auto;
    color: white;
    background-color: #F53B50;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.recipe-img {
    max-width: 800px;
}

.recipe-img img {
    height: 400px;
    align-content: stretch;
    border-bottom-left-radius: 5px;
}


.flex-recipe-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.recipe-info ul li {
    font-size: 1.5em;
    list-style-type: none;
    align-items: flex-start;
    margin-bottom: 1.5em;
    padding: 5px 0 15px 0;
    border-bottom: 3px solid #D9D9DB;
}

.recipe-info ul li i {
    font-size: 1.1em;
    padding-right: 5px;
    padding-left: 7px;
}

.recipe-title p {
    font-size: 2.3em;
    margin: auto;
    padding-top: 15px;
}

.recipe-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.recipe-title {
    height: 80px;
    text-align: center; 
}

.instructions-and-ingredients-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    font-size: 1.4em;
    margin-top: 20px;
    padding-top: 40px;
    background-color: #F6F6F6;
    border-radius: 5px;
}

.instructions-container {
    max-width: 600px;
    text-align: center;
}

.ingredients-container ol li {
    padding: 7px 0 7px 0;
}

#editLink {
    background-color: #E6580C;
    color: white;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    font-size: 1.3em;
    float: right;
}

#deleteForm {
    display: inline-block;
    float: right;
    margin-left: 10px;
}

#deleteForm button {
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    font-size: 1.3em;
    border: none;
}
