@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

html {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    margin-bottom: 60px;
    font-family: "Open Sans", Georgia, serif;
}

#header {
    height: 70px;
    font-size: 1.5em;
    box-shadow: rgb(170, 170, 170) 0 0 30px 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

#section-nav {
    max-width: 1200px;
    margin: auto;
}

#section-nav a {
    text-decoration: none;
    color: black;
}

#flex-nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    height: 70px;
    position: relative;
}

#flex-nav-container a {
    margin: 0 3px 0 3px;
    height: 100%;
    padding: 15px;
}

#flex-nav-container a:hover {
    background-color: #EFEFEF;
    border-top: 4px solid #FF9900;
}

.userContainer {
    width: 106px;
    text-align: center;
    position: absolute;
    right: 0;
    border-top: none;
    margin-left: 10px;
}

.userContainer:hover {
    border-top: none;
}

.logOutContainer button {
    margin: 0 3px 0 3px;
    height: 100%;
    padding: 15px;
}

.logOutContainer button:hover {
    background-color: #EFEFEF;
    border-top: 4px solid #FF9900;
}

.logOutContainer {
    position: absolute;
    right: 100px;
    margin-right: 10px;
}

.logOutContainer button {
    border: none;
    background-color: inherit;
}

.container {
    max-width: 1200px;
    margin: auto;
    margin-top: 120px;
}

#footer-section {
    max-width: 1200px;
    margin: auto;
}
