@using RecipesApp.Core.Models
@model RecipesListViewModel

@{
    ViewData["Title"] = "Всички рецепти";
}

<h1 class="page-title">@ViewData["Title"]</h1>

<partial name="_RecipesPartial" model="@Model" />

@if (Model.Recipes.Count() > Model.ItemsPerPage)
{
    <partial name="_PagingPartial" model="@Model" />
}