@using Recipes.Web.ViewModels.Posts;
@model CreatePostInputModel

@{
    this.ViewData["Title"] = "Добави пост";
}

<h1 class="text-center">Добавяне на пост</h1>
<form method="post" class="col-md-6 col-10 mx-auto" enctype="application/x-www-form-urlencoded">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Content" class="form-label"></label>
        <textarea asp-for="Content" class="form-control" rows="6"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <input type="submit" value="Изпрати" class="btn btn-primary" />
    </div>
</form>
