/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}*/

/* Provide sufficient contrast against white background */
/*a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
    position: relative;
    min-height: 100%;
}

body {*/
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;*/ /* Vertically center the text there */
/*}*/

/*--------------------------------------------*/

/**, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

.navbar-wrapper {
    background-color: #292637;
}

.custom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    max-width: 1080px;
    margin: 0 auto;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    padding: 1rem;
    color: white;
    display: block;
}

.logout-form button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 1rem;
    width: 100%;
}

.logout-form button:hover {
    color: #FFA400;
}

.navbar-links li:hover {
    background-color: #555;
}

.navbar-links li a:hover {
    color: #FFA400;
}

.toggle-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    flex-direction: column;
    display: none;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 1000px) {
    .toggle-button {
        display: flex;
    }

    .logout-form button {
        display: inline-block;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .custom-navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    background-color: #171c24;
    position: fixed;
    width: 100%;
}

.wrapper nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-left: 1px solid red;
    border-right: 1px solid red;
    max-width: 1080px; /*calc(100% - 200px) */
    margin: 0 auto;
    height: 70px;
}

nav .content {
    display: flex;
    align-items: center;
}

nav .content .links {
    margin-left: 80px;
    display: flex;
    margin-bottom: 0;
}

.content .links li {
    list-style: none;
}

.content .links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.content .links li:hover a {
    background-color: red; /*#323c4e*/
}

.content .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;/*
    margin-left: 20px;*/
}

.wrapper .search-icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
}

.wrapper #show-search:checked ~ .search-icon i::before {
    content: "\f00d";
}

.wrapper .search-box {
    position: absolute;
    height: 100%;
    max-width: calc(100% - 50px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.wrapper #show-search:checked ~ .search-box {
    opacity: 1;
    pointer-events: auto;
}

.search-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    color: #fff;
    background-color: #171c24;
}

.search-box input::placeholder {
    color: #f2f2f2;
}

.search-box .go-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    line-height: 60px;
    transform: translateY(-50%);
    width: 70px;
    background-color: #171c24;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.wrapper input[type="checkbox"] {
    display: none;
}

/*
Responsive code start from here*/

@media screen and (max-width: 1080px) {
    .wrapper nav {
        max-width: 100%;
        padding: 0 20px;
    }

    nav .content .links {
        margin-left: 30px;
    }

    .content .links li a {
        padding: 8px 13px;
    }

    .wrapper .search-box {
        max-width: calc(100% - 100px);
    }

    .wrapper .search-box input {
        padding: 0 100px 0 15px;
    }
}

@media screen and (max-width: 900px) {
    nav .content .links {
        display: block;
        position: fixed;
        background: teal;
        height: 100%;
        width: 100%;
        top: 70px;
        left: 0;
    }
}