@using Recipes.Web.ViewModels.Recipes;
@model RecipesListViewModel

@{
    this.ViewData["Title"] = "Всички рецепти";
}

<h1 class="text-center">Рецепти</h1>

<partial name="_RecipesListPartial" model="@Model" />

@if (Model.PagesCount > 0)
{
    <partial name="_PagingPartial" model="@Model" />
}

@section Scripts {
    <script src="~/js/paintBorder.js"></script>
}