@using Recipes.Web.ViewModels.Recipes;
@model RecipesListViewModel

@{
    this.ViewData["Title"] = "Всички рецепти";
}

<h1 class="text-center">Рецепти</h1>
<section class="recipes-list-container">
    @foreach (var recipe in Model.Recipes)
    {
        <article class="recipe-in-list-container">
            <a asp-action="ById" asp-route-id="@recipe.Id">
                <article class="recipe-in-list-container-img">
                    <img src="@recipe.ImageUrl" class="img-fluid w-100">
                </article>
                <article class="recipe-in-list-container-name">
                    <p>@(recipe.Name.Length > 50 ? recipe.Name.Substring(0, 50) + "..." : recipe.Name)</p>
                </article>
                <input class="recipe-in-list-color" value="@recipe.CategoryColor" type="hidden" />
            </a>
        </article>
    }
</section>

@section Scripts {
    <script src="~/js/paintBorder.js"></script>
}