@using Recipes.Web.ViewModels.Recipes;
@model CreateRecipeInputModel

@{
    this.ViewData["Title"] = "Добави Рецепта";
    var categoryItems = this.Model.Categories.Select(x => new SelectListItem { Value = x.Id.ToString(), Text = x.Name });
}

<h1 class="text-center">Добавяне на рецепта</h1>
<form method="post" class="col-md-6 col-10 mx-auto" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control" rows="6"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PreparationTime" class="form-label"></label>
        <input asp-for="PreparationTime" class="form-control" />
        <span asp-validation-for="PreparationTime" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CookingTime" class="form-label"></label>
        <input asp-for="CookingTime" class="form-control" />
        <span asp-validation-for="CookingTime" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PortionsCount" class="form-label"></label>
        <input asp-for="PortionsCount" class="form-control" />
        <span asp-validation-for="PortionsCount" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label"></label>
        <select asp-for="CategoryId" asp-items="categoryItems" class="form-select" aria-label="Default select example">
            <option value="0">Изберете категория от тук</option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="Image" class="form-label"></label>
        <input asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div id="IngredientsContainer">
    </div>
    <div class="mb-3">
        <button id="addIngredient" class="btn btn-info">Добави съставка</button>
    </div>
    <div class="mb-3">
        <input type="submit" value="Изпрати" class="btn btn-primary" />
    </div>
</form>

@section Scripts{
    <script src="~/js/ingredients.min.js" asp-append-version="true"></script>
}